

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: futura, sans-serif;
}


*, *:before, *:after {box-sizing:  border-box !important;}


p{
  color:#787878;
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 14px;
}

form p{
  color:inherit;
  line-height: inherit;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////linki*/
a {
    font-weight: 500;
    color: #2c2c2c!important;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
     -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

a:after{
  content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 0;
    background: #83611a;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
}
a:hover, a:active, a:focus{
  color:#83611a!important;
  text-decoration: none!important;
}
a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////BUTTONY*/
a.btn, button.btn, input.btn{
background-color:#f5f5f5; 
}
a.btn:hover, button.btn:hover, input.btn:hover{
color:#83611a; 
}
a.btn:hover, button.btn:hover, input.btn:hover{
color:#83611a; 
}
a.btn-success:hover, button.btn-success:hover, input.btn-success:hover{
  color:#fff!important;
}
.btn{
  border-radius:0!important;
  border:0!important;
   -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.btn:after{
  display:none!important;
}
.btn:hover{
 opacity:0.8;
}
.btn:focus{
  box-shadow: none!important;
  outline: 0!important;
  opacity: 0.7;
}
.btn-success{
  background-color:#83611a!important;
  border-bottom: 2px solid #000!important;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////paginacja*/

.pagination {
  padding: 50px 0px;

}
.pagination .active a{
  background: #83611a!important;
  color:#fff!important;
}

.pagination li{
  
}
.pagination li a{
  border:0!important;
  border-radius: 0!important;
}

.pagination li a:hover:after{
  display: none;
}


/*//////////////////////////////////////////////////////////////////////////////////////////Dodatkowe clasy*/


.second-nav{
  list-style: none;
  padding-left: 0px;
  padding-bottom: 20px;
}
.second-nav li:first-child{
  margin-left: 0px!important;
}
.second-nav li{
 display: inline-block;
 margin: 5px;
 font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-left: 15px;
    letter-spacing: 1px;
    padding: 2px 10px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.second-nav li a{
  letter-spacing: 1px;
}
.second-nav li a:hover{
  text-decoration: none;
}

blockquote{
  border: none;
  background: #f5f5f5;
}
.white-text{
  color:#fff;
}

.space{
  height: 130px;
}

.panel-default{
   border: 0 solid #fff!important;
   background: #fff;
}
.list-group-item:first-child, .list-group-item:last-child{
  border-radius:0px!important;
}
.well{
  border-radius: 0px!important;
  box-shadow: none!important;
}
.page-title {
padding-bottom:50px;
}
@media (max-width: 1200px){
  .space{
    height: 220px;
  }
}
@media (max-width: 992px){
  .space{
    height: 220px;
  }
}
@media (max-width: 768px){
  .space{
    height: 130px;
  }
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////form*/

form{}
input, select, textarea{
  border:0px!important;
  border-bottom: 1px solid #000!important;
  border-radius: 0px!important;
  box-shadow: none!important;
  border-bottom: 1px solid #83611a;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color:#83611a!important;
    background-image: none;
    color: rgb(0, 0, 0);
}


/*///////////////////////////////////////////////////////////////////////////////////////////// Navigation */

header{
   -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

header .navbar-brand{
  height: inherit;
  padding: 0 10px;
}
header .navbar-brand:after{
  display: none!important;
}
header .navbar-brand img{
  max-width: 300px;
  width: 100%;
}
header .navbar{
  padding: 25px 0px 10px;
  background: #fff;
  border-bottom: 0;
  border-radius:0;
  border:0;
}
header nav li{
  /*margin-top: 10px;*/
 /* margin-top: 15px;*/
  padding: 15px;
  margin:0px;
}
header nav li a{
   /*font-weight: bold!important;*/
}
header nav .admin-panel {
    background:#83611a;
    color: #fff!important;
}
header nav .admin-panel span {
    /*background:#83611a;*/
    color: #fff!important;
}
header nav li .navbar-form {
  padding: 0;
  margin-top: -8px;
}
header nav li .navbar-form select{
  border-radius:0px;
  border:0px!important;
  box-shadow: none;
  padding: 0px;
  font-size: 16px;
  /*font-weight: bold;*/
}

header nav li .navbar-form .form-control:focus{
  box-shadow: none;
}



header nav li a{
  padding: 0!important;
  margin: 0;
  background: transparent none repeat scroll 0 0;
    position: relative;
    border-bottom: none;
    border-left: medium none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #2c2c2c;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
header nav .dropdown ul li a:after{
display: none;
}
header nav .dropdown .dropdown-menu{
  border: 0!important;
  border-radius: 0px;
}
header nav .dropdown ul li{
padding: 0px;
}

header nav .dropdown ul li a{
padding: 10px!important;
font-size: 14px;
}

header nav li a:hover{
  color:#83611a!important;
}
header nav li a:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 0;
    background:#83611a;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
}

header nav li:hover a::after, header nav li a.active::after {
    transform: scaleX(1);
    transform-origin: left;
}
/*Scroll down*/
.nav-up {
    top: -140px!important;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

}
@media (max-width: 1200px){
   header nav li{
    padding: 10px;
   }
  header nav li a{
    font-size: 14px;
  }

}
@media (max-width: 992px){
  header .navbar-brand{
    width: 100%;
    float: none;
    text-align: center;
    display: block;
    margin-left: 0!important;
  }
  header .navbar-brand img{
    margin: 0 auto;
  }
  header .navbar-header{
    width: 100%;
  }
  header .nav{
        text-align: center;
    display: block;
    width: 100%;
  }
}

@media (max-width: 768px){
  header .navbar-brand{
    width: 70%;
    margin: 0;
    text-align: center; 
  }
   header .navbar-brand img{
     margin: inherit;
   }
  header .navbar-toggle{
    margin-top: -2px!important;
  }
  header nav li a{
    text-align: center;
  }
  header .navbar-header {
      width: inherit;
  }
  header .navbar-nav{
    margin: 15px;
  }
}


/*///////////////////////////////////////////////////////////////////////////////////////////// owl-carousel */




.owl-carousel {
  position: relative;
  height: 100%;
}
.owl-carousel div:not(.owl-controls) {
  height: 100%;
}
.owl-carousel .owl-slide {
 /*  background-image: url("../img/slide.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.owl-carousel div.owl--text {
  position: absolute;
  bottom: 4em;
  left: 2em;
  width: 20em;
  height: 8em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
.owl-carousel .owl-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.owl-carousel .owl-controls .owl-buttons div {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  zoom: 1;
  margin: 0;
  width: 50px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  font-size: 0.9em;
  border-radius: 3px;
  color: #fff;
  background: #000;
  opacity: 0.6;
  text-transform: capitalize;
}
.owl-carousel .owl-controls .owl-buttons .owl-prev {
  left: 5px;
}
.owl-carousel .owl-controls .owl-buttons .owl-next {
  right: 5px;
}

#hero-slider{
  margin-bottom: 100px;
}

#hero-slider .owl-nav {
       color: #787878;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 50%;
    height: 30px;
    width: 100%;
}

#hero-slider .owl-prev {
    left: 30px;
    position: absolute;
    bottom: 40%;
    z-index: 999;
}

#hero-slider .owl-next {
    right: 30px;
    position: absolute;
    bottom: 40%;
    z-index: 999;
}

#hero-slider:hover .owl-nav {
    color: #2c2c2c;
}

#hero-slider .owl-prev img, #hero-slider .owl-next img{
  padding: 10px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

}
#hero-slider .owl-prev:hover img, #hero-slider .owl-next:hover img {
  background: #fff;
    opacity: 0.4;
}

#hero-slider .caption {
    top: 40%;
    position: absolute;
    width: 100%;
    z-index: 99;
}

#hero-slider .caption h2 {
    color: inherit;
    font-size: 60px;
    font-weight: 700;
}



/*///////////////////////////////////////////////////////////////////////////////////////////// IZOTOPE */

/* fluid 3 columns */
.items-izotope
{ width: 33%; }

/*Filter*/
.portfolioFilter{
  padding: 100px 0 20px;
  
}
.portfolioFilter ul {
  list-style: none;
  padding: 0;
}
.portfolioFilter li{
  font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-left: 15px;
    padding: 2px 10px;
    cursor: pointer;
    position: relative;
     -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.portfolioFilter li:hover{
  color:#83611a;
}
.portfolioFilter li:after{
  content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 0;
    background: #83611a;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
}
.portfolioFilter li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.items-izotope a:after{
display: none;
}

.items-izotope p span{
  font-weight: bold;
  font-size: 16px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////Footer*/

#footer{
padding: 30px 0;
}
.social-media{
  list-style: none;
  padding: 0;
  float: right;
}

.social-media li{
  display: inline-block;

}
.social-media li a{
   font-size: 14px;
    font-weight: 400;
    margin: 0 10px; 
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
    color:#777;
}

.go-top{
  display: none;
   -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  position: fixed;
    bottom: 71px;
    right: -0px;
  -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
}
@media (max-width: 768px){
  footer .social-media{
    float: none;
    text-align: center;
    padding: 30px 0px;
  }
  footer p{
    text-align: center;
  }
}
@media (max-width: 400px){
footer .social-media li{
  width: 50%;
  display: inline-block;
  margin: 15px 0px;
}
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////Product*/
#main-image{
  border-color:#101010;
  border-radius:0px; 
}
#main-image .panel-body{
  padding: 0px;
}
#main-image img{
  width: 100%;
}
#product-thumbnails .thumbnail{
  width: 58px;
  height: 58px;
  padding: 0px;
  border-color:#101010;
  border-radius:0px; 
  /*border: 0px;*/
} 

#taxon-crumbs ul{
  padding: 0px;
  list-style: none;
}
#taxon-crumbs ul li{
  float: left;
  padding: 5px;
  /*background: #ddd;*/
  margin-right: 5px;
  margin-top: 5px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////cart*/

.cart-item-image img{
  width: 100px;
  height: 100px;
}
.cart-item-delete a{
  color:red!important;
}
.cart-item-price, .cart-item-total{
  color:#83611a!important;
}
.cart-total{
  background: #fff!important;
}
.cart-item-image a:after, .cart-item-delete a:after{
  display: none;
}
.coupon_code{
  margin-top: 15px;
}
@media (max-width: 768px){
 .coupon_code.pull-right {
  float: none!important;
 }  
 .coupon_code label{
  width: 100%;
 }


}

/*///////////////////////////////////////////////////////////////////////////////////////////////////checkout*/


#checkout_form_address .order_email{
  background: #f5f5f5;
  border-radius: 0px;
}
#checkout_form_address .well{
  background: none!important;
  border:0px;
}
#checkout_form_address .save-user-address-wrapper{
  /*display: block;*/
  text-align: center;
  padding: 20px 0;
}
#summary-order-total{
  color:#83611a!important;
}
#checkout-step-address{
  padding: 10px 0px;
}
#progress-steps li{
  background: #f5f5f5;
  color:#fff!important;
}
.progress-steps li a{
  color:#fff!important;
      border-radius: 0px!important;
}
.progress-steps .active a{
  background: #83611a!important;
}
.progress-steps li:nth-child(1){
  background: #c4c4c4;
}
.progress-steps li:nth-child(2){
  background: #c4c4c4;
  opacity:0.9;
}
.progress-steps li:nth-child(3){
  background: #c4c4c4;
  opacity:0.7;
}
.progress-steps li:nth-child(4){
  background: #c4c4c4;
  opacity:0.5;
}
.progress-steps li a:after{
  display: none!important;
}


.shipment .item-image img{
  width: 100px;
  height: 100px;

}

#order_summary #line-items img{
  width: 100px;
  height: 100px;
}

#order_summary #line-items .lead, #order_total{
  color:#83611a!important;
}

#order_summary #order-total td {
  background: #fff!important;
}
#order_summary #order-total td b{
  color:#83611a!important;
  font-size: 21px!important;
}
#order_summary #order_total {
  color:#83611a!important;
  font-size: 21px!important;
  font-weight: bold;
}

#order_summary a:after{
  display: none!important;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////Blog*/


.post-img-wrap img{
  max-width: 100%;

}
.post-img-wrap a:after{
  display: none!important;

}
.post-content{
      padding-top: 30px;
}
.post-excerpt{
  margin-bottom: 20px;
}
article{
  margin: 30px 0px;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////post*/


.post p{
  font-size: 16px;
  padding: 15px 0;
}
.post-date{
  font-weight: bold;
}
.taxonomy-nav ul{
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px!important;
}
.taxonomy-nav ul span{
  font-weight: bold;
}
.taxonomy-nav ul li{
  display: inline-block;
  margin: 5px;
}
.taxonomy-nav ul li a{
  font-size: 12px;
  /*color:#787878!important;*/
  letter-spacing: 1px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////Shop mensory grid*/

.item-mensonry a:after{
  display: none!important;
}
.item-mensonry a span{
  font-weight: bold;
  font-size: 16px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////contact-info*/

.contact-info{
  padding: 15px;
}
.contact-info h3{
  /*padding: 15px;*/
  margin-top: 0px;
}
.contact-info .details {
    display: table-cell;
    vertical-align: top;
}
.contact-info .icon {
    display: table-cell;
    vertical-align: top;
    width: 35px;
}